---
interface Props {
    title: string;
    description: string;
    noindex?: boolean;
    pageTransitionName?: string;
}

const { title, description, noindex, pageTransitionName } = Astro.props;

const newTitle = title || 'GOBI 2025';

const newDescription = description || 'GOBI 2025: From Source to Scale - Open Source Business and Innovation Conference'

const domain = "https://gobicon.org";

const slug = Astro.url.pathname;

---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />

<title>{newTitle}</title>
<meta name="title" content={newTitle}/>
<meta property="og:title" content={newTitle}/>
<meta property="twitter:title" content={newTitle}/>

<meta property="og:site_name" content="GOBI 2025" />
<meta property="twitter:card" content="summary_large_image" />

<link rel="canonical" href={`${domain}${slug}`} />
<meta property="og:url" content={`${domain}${slug}`} />
<meta property="twitter:url" content={`${domain}${slug}`} />

<link rel="sitemap" href={`${domain}/sitemap-index.xml`} />

<meta property="og:type" content="website" />

{noindex && 
   <meta name="robots" content="noindex">
}

<link rel="preload" href="/fonts/inter-v18-latin-500.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
<link rel="preload" href="/fonts/ZhuqueFangsong-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous" />
<link rel="preload" href="/fonts/Manrope-SemiBold.ttf" as="font" type="font/ttf" crossorigin="anonymous" />
<link rel="preload" href="/fonts/Manrope-Bold.ttf" as="font" type="font/ttf" crossorigin="anonymous" />

<link rel="icon" href="/images/logos/favicon-gobi.svg?v=20251108" type="image/svg+xml">
<link rel="icon" href="/images/logos/favicon-gobi.svg?v=20251108" type="image/svg+xml" sizes="any">
<link rel="mask-icon" href="/images/logos/favicon-gobi.svg?v=20251108" color="#2B74FF">

<meta property="og:image" content="/images/thumbnail.jpg" />
<meta property="twitter:image" content="/images/thumbnail.jpg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="800" />

<meta name="description" content={newDescription} />
<meta property="og:description" content={newDescription} />
<meta property="twitter:description" content={newDescription} />

{pageTransitionName === "GOBI 2025" &&
    <link rel="prefetch" href="/videos/GOBICONF-HERO-poster.jpg" as="image" type="image/jpeg" />
    <link rel="prefetch" href="/videos/GOBICONF-HERO.webm" as="video" type="video/webm" />
}
